{% extends "main/all.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static '/main/css/password_reset_style.css' %}" type="text/css"/>
<div style="display: flex; justify-content: center; align-items: center;">
    <div class="div-password-reset">
        <div class="div-password-reset-two">
            <form action="." method="post">
                <div class="div-password-reset-form">
                    <h3 style="text-align: center; color: #ff0; text-shadow: 0 0 5px #ff0;">Reset your password</h3>
                    <hr style="color: #ff0; text-shadow: 0 0 5px #ff0;">
                    {% if validlink %}
                    <p class="p-password-reset-text">Please enter your new password twice:</p>

                    {{ form.as_p }}
                    {% csrf_token %}
                    <input class="input-password-reset" type="submit" value="Change my password">
                    {% else %}
                    <p class="p-password-reset-confirm-text">The password reset link was invalid, possibly because it
                        has
                        already been used. Please request a new password reset.</p>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}