.div-all-block-bottom {

    bottom: 0;
    position: relative;
    height: 110px;
    width: 100%;
    z-index: 5;
    background-color: #333;
}

.p-all-block-bottom {
    text-align: center;
    color: #fff;
    margin-top: 20px;
}