<!--{% extends "main/all.html" %}-->
<!--{% load static %}-->

<!--{% block content %}-->
<!--<link rel="stylesheet" href="{% static '/main/css/password_reset_style.css' %}" type="text/css"/>-->
<!--<div class="div-password-reset">-->
<!--    <div class="div-password-reset-two">-->
<!--        <form action="{% url 'conf_code_html' %}" method="post">-->
<!--            <div class="div-password-reset-form">-->
<!--                <h3 style="text-align: center; color: #ff0; text-shadow: 0 0 5px #ff0;">Reset your password</h3>-->
<!--                <hr style="color: #ff0; text-shadow: 0 0 5px #ff0;">-->

<!--                <p class="p-password-reset-text">Please enter your code twice:</p>-->
<!--                <input type="text" name="code">-->
<!--                <input class="input-password-reset" type="submit" value="Confirm">-->

<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->


<!--{% endblock %}-->