<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    {% if result_list.category_id == 1 or 2 or 3 %}
    {% for search in result_list %}

    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="{{ search.get_absolute_url }}"><img class="card-img-top" src="{{ search.image.url }}" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="{{ search.get_absolute_url }}">{{ search.title }}</a>
                </h4>
                <h5>{{ search.price }} $</h5>
                <a href="{% url 'add_to_cart' slug=search.slug %}">
                    <button class="btn btn-danger">Add to cart</button>
                </a>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endif %}










</body>
</html>